services:
  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - /home/nik/content:/app/content
    environment:
      - MODEL_PATH=/app/content/model.cbm
      - DATA_PATH=/app/content/post_prepare_data.csv

